@model AssociadoViewModel

@{
    ViewData["Title"] = "Editar Associado";
}

<div class="container">

    <div class="container mb-5 text-center">
        <h1 class="text-dark">Editar Associado</h1>
    </div>

    <form method="post" asp-controller="Associados" asp-action="Editar">

        <input type="hidden" asp-for="Id" />

        <div class="container bg-dark p-5 rounded-5">

            <div class="mb-3">

                <label for="Nome" class="form-label text-light">Nome: </label>
                <input type="text" class="form-control text-light" asp-for="Nome" id="Nome">
                <span asp-validation-for="Nome" class="text-danger" />

            </div>

            <div class="mb-3">

                <label for="Cpf" class="form-label text-light">CPF: </label>
                <input type="text" class="form-control text-light" asp-for="Cpf" id="Cpf">
                <span asp-validation-for="Cpf" class="text-danger" />

            </div>

        </div>
       

        @* <div class="form-group text-light">
            <label for="Empresas" class="text-light">Empresas: </label>

            <br />

            <div class="col-md-10">
                @for (int i = 0; i < Model.Empresas.Count(); i++)
                {
                    @Html.EditorFor(m=>Model.Empresas[i].Checked)

                    <text>&nbsp;</text>
                    @Html.DisplayFor(m=>Model.Empresas[i].Nome)

                    <text>&nbsp;</text>
                    <br />
                    @Html.HiddenFor(m=>Model.Empresas[i].Nome)
                    @Html.HiddenFor(m=>Model.Empresas[i].Id)
                }
            </div>
        </div> *@

        <br/>

        <div class="container bg-dark p-5 rounded-5 text-light">

            <label for="Empresas" class="text-light">Empresas: </label>

            <br/><br/>

            <table id="tblEmpresas" class="table table-light table-hover mt-5 text-light">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                    </tr>
                </thead>

                <tbody>

                    @if (Model != null)
                    {
                        @for (int i = 0; i < Model.Empresas.Count(); i++)
                        {
                            <tr>

                                <th scope="row">
                                    @Html.EditorFor(m=>Model.Empresas[i].Checked)
                                </th>

                                <th scope="row">
                                    @Html.DisplayFor(m=>Model.Empresas[i].Id)
                                    @Html.HiddenFor(m=>Model.Empresas[i].Id)
                                </th>

                                <th scope="row">
                                    @Html.DisplayFor(m=>Model.Empresas[i].Nome) <text>&nbsp;</text>
                                    @Html.HiddenFor(m=>Model.Empresas[i].Nome)
                                </th>
                                
                            </tr>      
                                                        
                        }
                    }

                </tbody>

            </table>

        </div>

        <br/>

        <div class="container d-flex gap-5 nt-5">
            <button type="submit" class="btn btn-success w-50">Editar</button>
            <a class="btn btn-primary w-50" asp-controller="Associados" asp-action="Index">Voltar</a>
        </div>

        <br/><br/><br/>

    </form>

</div>
