@model EmpresaViewModel

@{
    ViewData["Title"] = "Editar Empresa";
}

<div>

    <div class="mb-5 text-center">
        <h1 class="text-dark">Editar Empresa</h1>
    </div>

    <form method="post" asp-controller="Empresas" asp-action="Editar">

        <input type="hidden" asp-for="Id" />

        <div class="container bg-dark p-5 rounded-5">

            <div class="mb-3">

                <label for="Nome" class="form-label text-light">Nome: </label>
                <input type="text" class="form-control text-light" asp-for="Nome" id="Nome">
                <span asp-validation-for="Nome" class="text-danger" />

            </div>

            <div class="mb-3">

                <label for="Cnpj" class="form-label text-light">Cnpj: </label>
                <input type="text" class="form-control text-light" asp-for="Cnpj" id="Cnpj">
                <span asp-validation-for="Cnpj" class="text-danger" />

            </div>

        </div>

        <br/>

        <div class="container bg-dark p-5 rounded-5 text-light">

            <label for="Associados" class="text-light">Associados: </label>

            <br/><br/>

            <table id="tblAssociados" class="table table-light table-hover mt-5 text-light">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                    </tr>
                </thead>

                <tbody>

                    @if (Model != null)
                    {
                        @for (int i = 0; i < Model.Associados.Count(); i++)
                        {
                            <tr>
                                <th scope="row">
                                    @Html.EditorFor(m=>Model.Associados[i].Checked)
                                </th>
                                <th scope="row">
                                    @Html.DisplayFor(m=>Model.Associados[i].Id)
                                    @Html.HiddenFor(m=>Model.Associados[i].Id)
                                </th>
                                <th scope="row">
                                    @Html.DisplayFor(m=>Model.Associados[i].Nome) <text>&nbsp;</text>
                                    @Html.HiddenFor(m=>Model.Associados[i].Nome)
                                </th>

                            </tr>

                        }
                    }

                </tbody>

            </table>

            @* <div class="col-md-10" >
                @for (int i = 0; i < Model.Associados.Count(); i++)
                {                                       
                    @Html.EditorFor(m=>Model.Associados[i].Checked)<text>&nbsp;</text>
                    @Html.DisplayFor(m=>Model.Associados[i].Nome)<text>&nbsp;</text> 
                    <br/>
                    @Html.HiddenFor(m=>Model.Associados[i].Nome)
                    @Html.HiddenFor(m=>Model.Associados[i].Id)
                }
            </div> *@

        </div>

        <br/>

        <div class="container d-flex gap-5 nt-5">
            <button type="submit" class="btn btn-success w-50">Editar</button>
            <a class="btn btn-primary w-50" asp-controller="Empresas" asp-action="Index">Voltar</a>
        </div>

        <br /><br /><br />

    </form>

</div>

